*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    display: inline;
    color: #ffffff;
    text-decoration:none
}

/* Bannière */

.baniere {
    position: relative;
}

.baniere::before {
content: "";
position: absolute;
top: 0; left: 0;
width: 100%; height: 100%;
background-image: url(images/Banière/NHA05939.jpg);
transition: 0.1s ease;
background-position: center;
background-size: cover;
opacity: 0.7;
}

.baniereImg {
/* This will make it stack on top of the ::before */
position: relative;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
width: 100vw;
height: 400px;
margin-top: 5px;
margin-bottom: 50px;
font-size: 20px;
font-weight: 500;
color: #ffffff;
background-color: none;
text-align: center;  
}

.animated-baniere {
    animation: fadeInUp 1s forwards;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(50px); /* Déplacement initial vers le bas */
    }
    to {
        opacity: 1;
        transform: translateY(0); /* Aucun déplacement une fois entièrement visible */
    }
}

.pres:nth-child(1) {
animation-delay: 0.5s;
}

/* Bannière */
.titre-banniere{
    margin-top: 60px;
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: 600;
    color: #ffffff;  
    opacity: 1;
}

.descr-baniere{  
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 24px !important;
    font-weight: 400;
    color: #ffffff;
}

h2 {
    font-size: 34px;
}

section {
    padding: 100px 24px !important;
}

/* Section Présentation */
.presentation{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pres{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 20px;
    font-weight: 200;
    color: #ffffff;
    flex-direction: row;
    opacity: 0;
    transform: translateY(50px);
}

.animated {
    animation: fadeInUp 0.5s forwards;
  }
@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(50px); /* Déplacement initial vers le bas */
    }
    to {
      opacity: 1;
      transform: translateY(0); /* Aucun déplacement une fois entièrement visible */
    }
  }
  .pres:nth-child(1) {
    animation-delay: 0.5s;
  }

#portraitImg {
    width:100%;
    border-radius: 5px;
    object-fit: cover;
}

.description {
    font-size: 16px;
    padding: 0 34px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.title {
    margin-bottom: 15px;
}

.parag {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    text-align: center;
    flex-direction: column;
    flex: 2;
    padding: 0px 24px;
}

.portrait {
    flex: 1;
}

/* Section Evenementiel */
.evenementiel{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 40px;
    font-weight: 400;
    color: #ffffff;
}

.evenementiel-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
}

.evenementiel-content-text{
    width: 100%;
    text-align: center;
}

.event_gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#body_home {
    width: 100vw;
    padding: 20px; 
    background-color: rgb(4, 21, 29);
    background:rgb(4, 21, 29) ;
    position: relative;
    overflow: hidden;
}

#grid_home{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 2fr));
    grid-auto-rows: 400px;
    gap: 50px; 
    padding-right: 10px;
    grid-auto-flow: dense;
}

.event_gallery_titre{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 24px;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
    padding: 24px;
}

.grid-item_home{
    overflow: hidden;
    cursor: pointer;
    transition: all 0.2s ease;
    border-radius: 5px;
    
    
}

.grid-img_home {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    display: block;
    transition: all 0.2s ease;
    border-radius: 5px;
    scale: 0,5 ;
    
}

.event_image1{
    object-position: 25% -100px;
}
.event_image2{
    object-position: 15% -50px;
}
.event_image3{
    object-position: 25% -100px;
}
.event_image4{
    object-position: 15% -10px;
    scale: 0,5 ;
}


.grid-item_home:hover{
    transform: scale(1.05);   
}

/* Footer */
