*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(4, 21, 29);    
}

/*Header*/

header {
    display: flex;
    justify-content: center; 
    align-items: center;  
    font-family: 'Roboto', sans-serif;
    color: #ffffff;  
    flex-direction: column; 
}

a{
    display: inline;
    color: #ffffff;
    text-decoration:none
}

.logoHeader{
    height: 150px;
}

.nav_links{
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 20px;  
    height: auto;
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;  
    list-style-type: none;
    gap: 15px;
    transition: all .3s ease;
}

/* Bannière */

.baniereImg{
    background-image: url(/images/Banière/NHA05939.jpg);
    
    opacity: 0.7;
    transition: 0.1s ease;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 400px;
    margin-top: 5px;
    margin-bottom: 50px;
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
    background-color: none;
    text-align: center;  
}
.animated-baniere {
    animation: fadeInUp 1s forwards;
  }
@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(50px); /* Déplacement initial vers le bas */
    }
    to {
      opacity: 1;
      transform: translateY(0); /* Aucun déplacement une fois entièrement visible */
    }
  }
  .pres:nth-child(1) {
    animation-delay: 0.5s;
  }

.filtre-baniere{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
    height: 400px;
    color: #811b1b;
    z-index: 1;
}
.titre-banniere{
    font-family: "Aboreto", system-ui;
    margin-top: 60px;
    margin-bottom: 50px;
    font-size: 30px;
    font-weight: 800;
    color: #ffffff;  
    opacity: 1;
}

.descr-baniere{  
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 30px;
    font-weight: 500;
    color: #ffffff;
}
/* Bannière */




/* Section Présentation */
.presentation{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 600px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
}


.pres{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: auto;
    height: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 20px;
    font-weight: 200;
    color: #ffffff;
    flex-direction: row;
    opacity: 0;
    transform: translateY(50px);
    
}
.animated {
    animation: fadeInUp 0.5s forwards;
  }
@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(50px); /* Déplacement initial vers le bas */
    }
    to {
      opacity: 1;
      transform: translateY(0); /* Aucun déplacement une fois entièrement visible */
    }
  }
  .pres:nth-child(1) {
    animation-delay: 0.5s;
  }


#portraitImg{
    width:500px;
    height: 600px;
    border-radius: 5px;
    object-fit: cover;
    margin-left: 250px;
    margin-top: 150px;
}

.pres_titre {
    font-family: "Aboreto", system-ui;
    font-size: 55px;
    margin-bottom: 15px;
}

.parag{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 100px;
    margin-top: 50px;
    font-size: 45px;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
    flex-direction: column;
}

/* Section Evenementiel */
.evenementiel{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    margin-top: 150px;
    margin-bottom: 50px;
    font-size: 40px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
}

.evenementiel-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
}




.evenementiel-content-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: 500;
    color: #ffffff;
}

.event_article{
    width: 900px;
    font-size: 40px;
}
.event_gallery{
    width: 1900px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#body_home {
    width: 100vw;
    padding: 20px; 
    background-color: rgb(4, 21, 29);
    background:rgb(4, 21, 29) ;
    position: relative;
    overflow: hidden;
}

#grid_home{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 2fr));
    grid-auto-rows: 500px;
    gap: 50px; 
    padding-right: 10px;
    grid-auto-flow: dense;
}

.event_gallery_titre{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    font-size: 30px;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
    margin-bottom: 50px;
}

.grid-item_home{
    overflow: hidden;
    cursor: pointer;
    transition: all 0.2s ease;
    border-radius: 5px;
    
    
}

.grid-img_home {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    display: block;
    transition: all 0.2s ease;
    border-radius: 5px;
    scale: 0,5 ;
    
}

.event_image1{
    object-position: 25% -100px;
}
.event_image2{
    object-position: 15% -50px;
}
.event_image3{
    object-position: 25% -100px;
}
.event_image4{
    object-position: 15% -10px;
    scale: 0,5 ;
}


.grid-item_home:hover{
    transform: scale(1.05);   
}

/* Footer */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 500;
    color: #2f2e47;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 0px;
    font-size: 25px;
    gap: 200px;
    color: #ffffff;
}

.logoFooter{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.pages-a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    color: #535279;
    text-decoration: none; 

}

.resFooter{
    width: 25px;
    height: auto;
    margin-left: 40px;
}

.pages-li,  .res-li{ 
    list-style-type: none;   
}

.copyrighty{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    color: #ffffff;
    margin-top: 50px;
    margin-bottom: 0px;
}



/* Footer */
